#changestream-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  object-fit: contain;
}

#changestream-video::-webkit-media-controls,
#changestream-video::-webkit-media-controls-enclosure {
  display: none !important;
}
